{{quiz-question
  question=model
  onSelect=(action 'selectAnswer')
}}

<ul class="eq-breadcrumbs__list" data-test="QuestionList">
  {{#each all_questions as |question|}}
    {{#if question.available}}
      <li class="eq-breadcrumbs__item" data-test="QuestionItem-Active">
        {{link-to question.index 'quiz.question' question.index activeClass="font-bold"}}
      </li>
    {{else}}
      <li class="eq-breadcrumbs__item eq-breadcrumbs__item--incomplete" data-test="QuestionItem">
        {{question.index}}
      </li>
    {{/if}}
  {{/each}}
</ul>

{{progress-bar
    progress=progress}}
