<p data-test="QuestionList">
  {{#each all_questions as |question|}}
    {{#if question.available}}
      <span data-test="QuestionItem-Active">
        {{link-to question.index 'quiz.question' question.index activeClass="font-bold"}}
      </span>
    {{else}}
      <span data-test="QuestionItem">
        {{question.index}}
      </span>
    {{/if}}
  {{/each}}
</p>

<br>

<p>
  {{model.text}}
</p>

<hr>

<ul data-test="AnswerList">
  {{#each answers as |answer|}}
    <li data-test="AnswerItem" {{action 'selectAnswer' model.index answer.value}}>
      {{answer.text}}
    </li>
  {{/each}}
</ul>
