<p>
  {{quiz.completed}}
</p>

<p>
  {{#each all_questions as |question|}}
    {{#if question.available}}
      {{link-to question.index 'quiz.question' question.index activeClass="font-bold"}}
    {{else}}
      {{question.index}}
    {{/if}}
  {{/each}}
</p>

<br>

<p>
  {{model.text}}
</p>

<hr>

<ul>
  {{#each model.answers as |answer|}}
    <li {{action 'selectAnswer' model.index answer.value}}>
      {{answer.text}} ({{answer.value}})
    </li>
  {{/each}}
</ul>
