<div class="eq-profile">
    <div class="eq-profile__results">
        <div class="eq-profile__title">
            <h1>
                {{custom.name}}
            </h1>
        </div>

        <article class="eq-profile__description">
            <p>
                {{custom.description}}
            </p>
        </article>
    </div>

    <div class="eq-profile__basic-info">
        <div class="eq-profile__image">
            <img src="/assets/images/{{custom.name}}.png" alt="Picture of {{custom.name}}">
        </div>
        <div class="eq-profile__sprites">
            {{poke-sprites
                sprites=baseData.sprites
                name=custom.name}}
        </div>

        <div class="eq-profile__types">
            {{poke-types
                rawTypes=baseData.types}}
        </div>

        <div class="eq-profile__abilities">
            {{poke-abilities
                rawAbilities=baseData.abilities}}
        </div>
    </div>

    <div class="eq-profile__stats">
        {{poke-stats
            rawStats=baseData.stats}}
    </div>

    <div class="eq-profile__entries">
        {{poke-entries
            rawEntries=speciesData.flavor_text_entries}}
    </div>
</div>
