<h3>
  {{custom.name}}
</h3>

<img src="/assets/images/{{custom.name}}.png" alt="Picture of {{custom.name}}">

{{poke-abilities
    rawAbilities=baseData.abilities}}

<br>

{{poke-types
    rawTypes=baseData.types}}

<br>

{{poke-stats
    rawStats=baseData.stats}}

<br>

{{poke-sprites
    sprites=baseData.sprites
    name=custom.name}}

<br>

<p class="text-gray">
  {{custom.description}}
</p>

{{poke-entries
    rawEntries=speciesData.flavor_text_entries}}
