<h3>
  {{custom.name}}
</h3>

<img src="/assets/images/{{custom.name}}.png" alt="Picture of {{custom.name}}">

<p class="text-gray">
  {{custom.description}}
</p>

{{#each dexEntries as |entry|}}
  <ul data-test="APIData">
    <li>
      {{ entry.version.name }}
    </li>
    <li>
      {{entry.flavor_text}}
    </li>
  </ul>
  <br><br>
{{/each}}
