<p>
  {{link-to 'Homepage' 'application'}}
</p>

<p>
  {{#if quiz.completed}}
    {{link-to 'See Your Results' 'results.pokemon' quiz.winner}}
  {{else}}
    {{link-to 'Take the quiz!' 'quiz'}}
  {{/if}}
</p>

<p>
  {{link-to 'Meet the Eeveelutions' 'results'}}
</p>


<br><br>

{{outlet}}

<br><br>

<p>
  https://tailwindcss.com/docs/installation/
</p>
