{{ testApi }}

<p data-test="Nav-HomeLink">
  {{link-to 'Homepage' 'application'}}
</p>

<p data-test="Nav-QuizLink">
  {{#if completed}}
    {{link-to 'See Your Results' 'results.pokemon' quiz.winner}}
  {{else}}
    {{link-to 'Take the Quiz!' 'quiz'}}
  {{/if}}
</p>

<p data-test="Nav-ResultsLink">
  {{link-to 'Meet the Eeveelutions' 'results'}}
</p>


<br><br>

{{outlet}}

<br><br>

<ul>
  <li>
    https://tailwindcss.com/docs/installation/
  </li>
  <li>
    https://github.com/emberjs/ember-test-helpers/blob/master/API.md#pausetest
  </li>
  <li>
    https://github.com/simplabs/qunit-dom/blob/master/API.md#hasanytext
  </li>
</ul>
