<div class="eq-wrapper">
  <nav class="eq-wrapper__nav eq-nav">
    <ul class="eq-nav__list">
      <li class="eq-nav__list-item" data-test="Nav-HomeLink">
        {{link-to 'Homepage' 'application' class="eq-nav__link"}}
      </li>

      <li class="eq-nav__list-item" data-test="Nav-QuizLink">
        <strong>
          {{#if completed}}
            {{link-to 'See Your Results' 'results.pokemon' quiz.winner class="eq-nav__link"}}
          {{else}}
            {{link-to 'Take the Quiz!' 'quiz' class="eq-nav__link"}}
          {{/if}}
        </strong>
      </li>

      <li class="eq-nav__list-item" data-test="Nav-ResultsLink">
        {{link-to 'Meet the Eeveelutions' 'results' class="eq-nav__link"}}
      </li>
    </ul>
  </nav>

  <main class="eq-wrapper__main">
    {{outlet}}
  </main>

  <footer class="eq-wrapper__footer eq-footer">
    Find me on Github!
  </footer>
</div>
